.input {
    width: 100%;
    border: 1px solid #414144;
    border-radius: 6px;
    background: #202124;
    height: 36px;
    color: #71717A;
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
}